# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Lancerabbit
	email = lancerabbit@gmail.com

[alias]
  coi = "!git checkout $(git branch | cut -c 3- | peco)"
  rbi = "!git rebase -i $(git rev-parse --short HEAD~$@) #"
[core]
	excludesfile = /Users/lancelin/.gitignore_global
