# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Lancerabbit
	email = lancerabbit@gmail.com

[alias]
  coi = "!git checkout $(git branch | cut -c 3- | peco)"
  rbi = "!git rebase -i $(git rev-parse --short HEAD~$@) #"
  gid = "!git log -$@ --pretty=format:'%h' | cut -d ' ' -f 1 | pbcopy #"
  # $1: show log lines, $2: specific line
  sid = "!git log -$1 --pretty=format:'%h' | cut -d ' ' -f 1 | sed -n $2p | pbcopy #"

[core]
	excludesfile = /Users/lancelin/.gitignore_global
  editor = nvim
